In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('employee.csv')

In [4]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [6]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [7]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [8]:
df['Attrition']=df['Attrition'].apply(lambda x : 1 if x=='Yes' else 0)

In [9]:
df=pd.get_dummies(df)

In [10]:
df.mean()

Age                                     36.923810
Attrition                                0.161224
DailyRate                              802.485714
DistanceFromHome                         9.192517
Education                                2.912925
EmployeeCount                            1.000000
EmployeeNumber                        1024.865306
EnvironmentSatisfaction                  2.721769
HourlyRate                              65.891156
JobInvolvement                           2.729932
JobLevel                                 2.063946
JobSatisfaction                          2.728571
MonthlyIncome                         6502.931293
MonthlyRate                          14313.103401
NumCompaniesWorked                       2.693197
PercentSalaryHike                       15.209524
PerformanceRating                        3.153741
RelationshipSatisfaction                 2.712245
StandardHours                           80.000000
StockOptionLevel                         0.793878
TotalWorkingYears                       11.279592
TrainingTimesLastYear                    2.799320
WorkLifeBalance                          2.761224
YearsAtCompany                           7.008163
YearsInCurrentRole                       4.229252
YearsSinceLastPromotion                  2.187755
YearsWithCurrManager                     4.123129
BusinessTravel_Non-Travel                0.102041
BusinessTravel_Travel_Frequently         0.188435
BusinessTravel_Travel_Rarely             0.709524
Department_Human Resources               0.042857
Department_Research & Development        0.653741
Department_Sales                         0.303401
EducationField_Human Resources           0.018367
EducationField_Life Sciences             0.412245
EducationField_Marketing                 0.108163
EducationField_Medical                   0.315646
EducationField_Other                     0.055782
EducationField_Technical Degree          0.089796
Gender_Female                            0.400000
Gender_Male                              0.600000
JobRole_Healthcare Representative        0.089116
JobRole_Human Resources                  0.035374
JobRole_Laboratory Technician            0.176190
JobRole_Manager                          0.069388
JobRole_Manufacturing Director           0.098639
JobRole_Research Director                0.054422
JobRole_Research Scientist               0.198639
JobRole_Sales Executive                  0.221769
JobRole_Sales Representative             0.056463
MaritalStatus_Divorced                   0.222449
MaritalStatus_Married                    0.457823
MaritalStatus_Single                     0.319728
Over18_Y                                 1.000000
OverTime_No                              0.717007
OverTime_Yes                             0.282993
dtype: float64

In [11]:
df.head(40)

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1,1102,1,2,1,1,2,94,3,...,0,0,1,0,0,0,1,1,0,1
1,49,0,279,8,1,1,2,3,61,2,...,0,1,0,0,0,1,0,1,1,0
2,37,1,1373,2,2,1,4,4,92,2,...,0,0,0,0,0,0,1,1,0,1
3,33,0,1392,3,4,1,5,4,56,3,...,0,1,0,0,0,1,0,1,0,1
4,27,0,591,2,1,1,7,1,40,3,...,0,0,0,0,0,1,0,1,1,0
5,32,0,1005,2,2,1,8,4,79,3,...,0,0,0,0,0,0,1,1,1,0
6,59,0,1324,3,3,1,10,3,81,4,...,0,0,0,0,0,1,0,1,0,1
7,30,0,1358,24,1,1,11,4,67,3,...,0,0,0,0,1,0,0,1,1,0
8,38,0,216,23,3,1,12,4,44,2,...,0,0,0,0,0,0,1,1,1,0
9,36,0,1299,27,3,1,13,3,94,3,...,0,0,0,0,0,1,0,1,1,0
10,35,0,809,16,3,1,14,1,84,4,...,0,0,0,0,0,1,0,1,1,0
11,29,0,153,15,2,1,15,4,49,2,...,0,0,0,0,0,0,1,1,0,1
12,31,0,670,26,1,1,16,1,31,3,...,0,1,0,0,1,0,0,1,1,0
13,34,0,1346,19,2,1,18,2,93,3,...,0,0,0,0,1,0,0,1,1,0
14,28,1,103,24,3,1,19,3,50,2,...,0,0,0,0,0,0,1,1,0,1
15,29,0,1389,21,4,1,20,2,51,4,...,0,0,0,0,1,0,0,1,1,0
16,32,0,334,5,2,1,21,1,80,4,...,0,1,0,0,1,0,0,1,0,1
17,22,0,1123,16,2,1,22,4,96,4,...,0,0,0,0,1,0,0,1,0,1
18,53,0,1219,2,4,1,23,1,78,2,...,0,0,0,0,0,1,0,1,1,0
19,38,0,371,2,3,1,24,4,45,3,...,0,1,0,0,0,0,1,1,0,1
20,24,0,673,11,2,1,26,1,96,4,...,0,0,0,0,1,0,0,1,1,0
21,36,1,1218,9,4,1,27,3,82,2,...,0,0,0,1,0,0,1,1,1,0
22,34,0,419,7,4,1,28,1,53,3,...,1,0,0,0,0,0,1,1,1,0
23,21,0,391,15,2,1,30,3,96,3,...,0,1,0,0,0,0,1,1,1,0
24,34,1,699,6,1,1,31,2,83,3,...,0,1,0,0,0,0,1,1,1,0
25,53,0,1282,5,3,1,32,3,58,3,...,0,0,0,0,1,0,0,1,1,0
26,32,1,1125,16,1,1,33,2,72,1,...,0,1,0,0,0,0,1,1,0,1
27,42,0,691,8,4,1,35,3,48,3,...,0,0,1,0,0,1,0,1,1,0
28,44,0,477,7,4,1,36,1,42,2,...,0,0,0,0,0,1,0,1,1,0
29,46,0,705,2,4,1,38,2,83,3,...,0,0,0,0,0,0,1,1,1,0
30,33,0,924,2,3,1,39,3,78,3,...,0,0,0,0,0,0,1,1,1,0
31,44,0,1459,10,4,1,40,4,41,3,...,0,0,0,0,0,1,0,1,0,1
32,30,0,125,9,2,1,41,4,83,2,...,0,0,0,0,0,0,1,1,1,0
33,39,1,895,5,3,1,42,4,56,3,...,0,0,0,1,0,1,0,1,1,0
34,24,1,813,1,3,1,45,2,61,3,...,0,1,0,0,0,1,0,1,0,1
35,43,0,1273,2,2,1,46,4,72,4,...,0,1,0,0,1,0,0,1,1,0
36,50,1,869,3,2,1,47,1,86,2,...,0,0,0,1,0,1,0,1,0,1
37,35,0,890,2,3,1,49,4,97,3,...,0,0,0,1,0,1,0,1,1,0
38,36,0,852,5,4,1,51,2,82,2,...,0,1,0,0,0,1,0,1,0,1
39,33,0,1141,1,3,1,52,3,42,4,...,0,0,1,0,0,1,0,1,1,0

In [12]:
X=df.drop(['Attrition'],axis=1)
y=df['Attrition']

In [13]:
df.to_csv('employee.csv',index=False)

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
sc=StandardScaler()

In [16]:
X=sc.fit_transform(X)

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
model=LogisticRegression(C=0.2,max_iter=1000)

In [21]:
model.fit(X_train,y_train)

LogisticRegression(C=0.2, max_iter=1000)

In [22]:
import joblib as jb

In [23]:
jb.dump(model,'attrition_model.joblib')

['attrition_model.joblib']

In [24]:
r=model.score(X_test,y_test)
print("accuracy score : ",round(r,3)*100,"%")

accuracy score :  88.8 %

In [25]:
y_pred=model.predict(X_test)

In [26]:
from sklearn.metrics import confusion_matrix

In [27]:
confusion_matrix(y_test,y_pred)

array([[245,  10],
       [ 23,  16]])

In [28]:
import numpy as np

In [29]:
X_data=df.drop(['Attrition'],axis=1)

In [30]:
data_list = X_data.values.tolist()

In [31]:
x_d=np.array([data_list[2]])

In [32]:
x_d=sc.transform(x_d)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [33]:
y_pred=model.predict(x_d)

In [34]:
y_pred

array([1])